h1, p, a, body{
    margin: auto;
    padding: auto;
    text-decoration: none;
    text-align: center;
    color: black;
}
h1{
    font-size: 32px;
    margin: 12px;
}
main{
    width: 800px;
    display: block;
    margin: auto;
    padding: auto;
    margin-top: 50px;
}
div{
    background-color: blueviolet;
    margin: 1px;
}
th{
    background-color: darkslategrey;
    height: 40px;
    color: rgb(242, 242, 242);
    font-size: 24px;
    border-style: none;
}
td{
    height: 32px;
    font-size: 20px;
    border-style: none;
}
tr:nth-child(odd){
    background-color: rgb(255, 249, 249);
}
table{
    border-style: none;
}
p{
    font-size: 20px;
    margin: 8px;
}
body{
    background-color: rgb(232, 223, 223);

}